{% extends 'includes/base.html' %}
{% load static %}
{% block title %} Accordion {% endblock %}

{% block content %}
    <center>
        <div class="container-fluid padding accordion">
            <div id="profile" class="accord">
                <div class="container accordiontitle">
                    <h4 class="nomargin">Profil Saya</h4>
                    <button class="moveup">^</button>
                    <button class="movedown">v</button>
                </div>
                <div class="container accordioncontent">
                    <p class="accordionlines">Syabib Ash-Shiddiqi</p>
                    <p class="accordionlines">19 tahun</p>
                    <p class="accordionlines">Ilmu Komputer Universitas Indonesia</p>
                </div>
            </div>
            <div id="activity" class="accord">
                <div class="container accordiontitle">
                    <h4 class="nomargin">Aktivitas</h4>
                    <button class="moveup" id="moveuptest">^</button>
                    <button class="movedown">v</button>
                </div>
                <div class="container accordioncontent">
                    <p class="accordionlines">Ngoding</p>
                    <p class="accordionlines">Proyekan</p>
                    <p class="accordionlines">Kepanitiaan</p>
                    <p class="accordionlines">Trying to survive through PPW</p>
                </div>
            </div>
            <div id="experience" class="accord">
                <div class="container accordiontitle">
                    <h4 class="nomargin" id="accordtest">Pengalaman</h4>
                    <button class="moveup">^</button>
                    <button class="movedown" id="movedowntest">v</button>
                </div>
                <div class="container accordioncontent">
                    <p class="accordionlines">PO SIWAK 2020</p>
                    <p class="accordionlines">Taring Maung</p>
                    <p class="accordionlines">DPH Rohis SMAN 1 Padang</p>
                </div>
            </div>
            <div id="achievements" class="accord">
                <div class="container accordiontitle">
                    <h4 class="nomargin">Prestasi</h4>
                    <button class="moveup">^</button>
                    <button class="movedown">v</button>
                </div>
                <div class="container accordioncontent">
                    <p class="accordionlines">Pengen flexing tapi yang nyodok PPW OP semua jadi minder</p>
                </div>
            </div>
        </div>

        <p class="watermark">IF I COULD LIVE THROUGH THIS SEMESTER I COULD DO ANYTHING</p>
    </center>
{% endblock %}