{% extends 'includes/base.html' %}
{% load static %}
{% block title %} Konfirmasi {% endblock %}

{% block content %}
    <div class="container-fluid padding confirmation">
        <h1>Tambahkan status?</h1>
        <p>{{ name }}</p>
        <h5>{{ status }}</h5>
        <form action="/" method="POST">
            {% csrf_token %}
            <input type="hidden" name="name" value="{{ name }}">
            <input type="hidden" name="status" value="{{ status }}">
            <input type="submit" id="confirm" value="Ya">
        </form>
    
        <div class="down">
            <form action="/" method="GET">
                <input type="submit" id="cancel" value="Batalkan">
            </form>
        </div>   
    </div>
{% endblock %}