{% extends 'includes/base.html' %}
{% load static %}
{% block title %} Status Board {% endblock %}

{% block content %}
    <div class="container-fluid padding">
        <div class="row">
            {% for i in statlist %}
                <div class="col-sm-6 status">
                    <p>{{i.name}}</p>
                    <h5>{{i.status}}</h5>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="container-fluid footer">
        <form action="confirmation" method="POST" validate>
            {% csrf_token %}
            <table class="table mx-5" style="width:90vw">
            {{ form.as_table }}
            <tr>
                <td>&nbsp;</td>
                <td><input id="submit" type="submit" value="Submit" class="btn btn-primary click"></td>
            </tr>
            </table>
        </form>
    </div>
{% endblock %}