{% load static %}
<nav class="navbar navbar-expand-md navbar-light">
    <a class="navbar-brand" href="{% url 'story7:statuses' %}">PPW Story</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'story8:accordion' %}">Accordion</a>
        </li>
    </ul>
</nav>